body{
     height: 100vh;
     display: grid;
     justify-content: center;
     background: #222;
      
}

.container{
    height: 500px;
    width: 800px;
    display: flex;
    overflow:auto;
    scroll-snap-type:  x mandatory;
    margin: 150px ;
    margin-left: 200px;
  
}

.container .slide{
    scroll-snap-align: start;
}

.container img{
    
    height: 100%;
    width: 800px;
    object-fit:cover;
    
    
}
